<!DOCTYPE html>
<html>
    <head>
        <title>AboutUs page</title>
        <link rel="stylesheet" href="../Static/css/home.css">
        <meta name="view port" content="width=device-widgth,initial-scale=1.0">
    </head>
    <body>
        <div class="name3">
            <h2>Get to know AboutUs</h2>
            <form action="dashboard.html" method="POST">
            <p>our fleet was established to serve the people around the world by connecting them together,as the distance should not be a barrier for the people<br>150 Willington street,<br>NewJersey,<br>USA.</p>
           <a href="More of Us.html" target="_blank">More of Us</a><br><br>
           <button><a href="home.html">Back</a></button>
        </form>
        </div>
    </body>