<!DOCTYPE html>
<html>
    <head>
     <title>Welcome to dashboard</title>
     <link rel="stylesheet" a href="../Static/css/Dashboard.css">
     <meta name="viewport"content="width=device-widgth,initial-scale=1.0">
    </head>
    <body>
        <div class="picture">
            <img src="../Static/images/mypic.jpg" width="200px" height="220px">
          </div>
        <div class="paragraph">
            <p>Naveen A</p>
            <p>naveenvijaysridhar1998@gmail.com</p>
            <p>+91 98271 05689</p>
            <p><a href="https://www.linkedin.com/in/naveen-arunachalam-5823b1206">https://www.linkedin.com/in/naveen-arunachalam-5823b1206</a></p>
        </div>
        <div class="Details">
            <h2>Educational Details</h2>
            <table>
                <tr>
                    <th>Designation</th>
                    <th>Board</th>
                    <th>Institution Name</th>
                    <th>Year Of Passing</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>B.E</td>
                    <td>Anna University</td>
                    <td>Adhiyamaan College of Engineering</td>
                    <td>2021</td>
                    <td>82.5</td>
                </tr>
                <tr>
                    <td>HSC</td>
                    <td>StateBoard</td>
                    <td>M.A.M Matric hr.sec.school</td>
                    <td>2017</td>
                    <td>79.75</td>
                </tr>
                <tr>
                    <td>SSLC</td>
                    <td>StateBoard</td>
                    <td>M.A.M matic hr.sec.school</td>
                    <td>2015</td>
                    <td>93.8</td>
                </tr>
            </table>
            <h2>Known Programming</h2>
            <ul>
                <li>C</li>
                <li>C++</li>
                <li>Java</li>
            </ul>
            <h2>Personal Details</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Father name</th>
                    <th>DOB</th>
                </tr>
                <tr>
                    <td>Naveen A</td>
                    <td>G.Arunachalam</td>
                    <td>19/11/1998</td>
                </tr>
            </table>
            <h2>Area of Interest</h2>
            <ul>
                <li>Python</li>
                <li>Machine Learning</li>
                <li>BigData Analytic</li>
            </ul>
        </div>
    </body>
</html>