<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to home page</title>
        <link rel="stylesheet" href="../Static/css/home.css">
        <meta name="view port" content="width=device-widgth,initial-scale=1.0">
    </head>
<body>
    <ul class="nav">
        <li><a href=login.html>LOGIN</a></li>
        <li><a href=Register.html>REGISTER</a></li>
        <li><a href=AboutUS.html>ABOUTSUS</a></li>
        
    </ul>
    <div class="pacific">
        <div class="cathay">
   <h1>Welcome to Cathay Pacific Airlines </h1><br><br><br>
        <h3>We are been committed to serve the world with our fleet,which tries to conquer the world with our good serving pilot ,crew members and the ground staffs  </h3>
        </div>
    </div>
   </body>
</html>