<!DOCTYPE html>
<html>
    <head>
        <title>More Of Us</title>
        <link rel="stylesheet" href="../Static/css/home.css"> 
        <meta name="view port" content="width=device-widgth,initial-scale=1.0">
    </head>
    <body>
        <div class="name4">
            <h1>Happy Day</h1>
            <p>currently we are serving more then 200 flights across the global with ease of the connecting the people</p>
            <h2>Our flights are</h2>
            <table>
                <tr>
                    <th>Flight name</th>
                    <th>Flight Model</th>
                    <th>Flight type</th>
                    <th>Source Destination</th>
                    <th>Via</th>
                    <th>Final Destination</th>
                </tr>
                <tr>
                    <td>CP-212</td>
                    <td>A320</td>
                    <td>Air Bus</td>
                    <td>India</td>
                    <td>Dubai,London</td>
                    <td>NewYork</td>
                </tr>
            </table>
            <button><a href="AboutUS.html">Back</a></button>
        </div>
    </body>
</html>